<div style="padding: 20px">
  <h1>Animation Angular</h1>
  <button (click)="playAnimations1()" mat-raised-button color="accent" >Animer une fois</button>
  <button (click)="playAnimations2()" mat-raised-button color="accent">Animer en boucle</button>
  <div class="square" [@shake]="ng_rouge" style="background-color: red;"></div>

  <div class="square" [@bounce]="ng_vert" style="background-color: green;"></div>

  <div class="square" [@tada]="ng_bleu" style="background-color: blue;"></div>
</div>
<div style="padding: 20px">
  <h1>Animation CSS</h1>
  <button (click)="rotateCube()" mat-raised-button color="accent">Faire tourner</button>
  <div [class.rotate-left]="rotate" class="square"  style="background-color:orange;"></div>
</div>
